infrastructure/state_machine_definition.asl.json
{
  "Comment": "State machine to forecast expenses for all users",
  "StartAt": "GetAllUsers",
  "States": {
    "GetAllUsers": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:GetAllUsers",
      "ResultSelector": {
        "users.$": "$"
      },
      "ResultPath": "$.userList",
      "Next": "ProcessEachUser"
    },
    "ProcessEachUser": {
      "Type": "Map",
      "ItemsPath": "$.userList.users",
      "MaxConcurrency": 5,
      "Iterator": {
        "StartAt": "FetchHistory",
        "States": {
          "FetchHistory": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:FetchUserTransactions",
            "ResultPath": "$.transactions",
            "Next": "CalculateForecast"
          },
          "CalculateForecast": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:CalculateForecast",
            "ResultPath": "$.forecastResult",
            "Next": "SaveForecast"
          },
          "SaveForecast": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:SaveForecast",
            "End": true
          }
        }
      },
      "End": true
    }
  }
}
